# =========================
# Java / Maven
# =========================
back/target/
*.class

# =========================
# React / Node
# =========================
front/node_modules/
front/dist/

# =========================
# Eclipse / STS
# =========================
back/workspace/.metadata/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# OS
# =========================
.DS_Store
Thumbs.db